sudo: false

language: python

python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  # - 3.7 # JM: this won't work currently with travis, workaround below

# JM:
# enabling 3.7 workaround in accordance with this post:
# https://github.com/travis-ci/travis-ci/issues/9815
# JM 10/21/18 - comment out python 3.7 as keras/tensorflow don't support it yet
# matrix:
#   include:
#     - python: 3.7
#       dist: xenial
#       sudo: true

# ------------------------------------------

install:
  # ND
  - pip install -r requirements.txt
  - pip install sphinx_bootstrap_theme
  - pip install .
  - pip install opencv-python #this is no longer in our requirements.txt
  - pip install tensorflow==1.10.0
  - pip install m2r
  - pip install Sphinx

script:
  # JM: running license enforcer
  - python enforcer.py

  # JM: separate automated_tests down here::
  - python test/automated_tests.py --verbose

  # JM: ---------------- Building documentation -------------------------
  # JM: removes files that will be autogenerated
  - rm docs/source/imagepypelines*rst
  - rm docs/source/modules.rst
  # building *.rst files
  - sphinx-apidoc -o docs/source imagepypelines
  # making the website
  - cd docs && make html # JM: puts html in docs/build/html

# JM: for github pages setup.
# target branch defaults to 'gh-pages'
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # JM: references environmental variable I setup from github
  keep-history: true
  local-dir: docs/build/html
  on:
    branch: master
