wheel
Sphinx==2.4.4
sphinx_bootstrap_theme==0.7.1
sphinx-automodapi
sphinx_copybutton
ablog
jupyter
notebook
sphinx-gallery
matplotlib
Pillow
pytest
sybil
pytest-cov
coverage
codecov
pytest-doctest-ellipsis-markers
